        <!-- start of footer -->
        <footer class="bg-dark">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-3 col-sm-6 mb-5">
                        <h5 class="font-primary text-white mb-4">Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="#!">Home</a></li>
                            <li><a href="#!">About</a></li>
                            <li><a href="#!">Contact</a></li>
                            <li><a href="#!">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </section>
    <!-- END main-wrapper -->

    <!-- All JS Files -->
    <script src="{{ url_for('static', filename='/plugins/jQuery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>

    <!-- Main Script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>