<head>
    <meta charset="utf-8">
    <title>Galaxy - Personal Blog Template</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="galaxy" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/plugins/fontawesome/css/all.css') }}">

    <!-- Main Stylesheet -->
    <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='/images/favicon.png') }}" type="image/x-icon">

</head>