<!-- start of sidenav -->
<aside><div class="sidenav position-sticky d-flex flex-column justify-content-between">
    <a class="navbar-brand" href="/" class="logo">
        <img src="/static/images/explore-the-borderland-logo.png" alt="">
    </a>
    <!-- end of navbar-brand -->

    <div class="navbar navbar-dark my-4 p-0 font-primary">
        <ul class="navbar-nav w-100">
            <li class="nav-item active">
                <a class="nav-link text-white px-0 pt-0" href="{{ url_for('home') }}">Home</a>
            </li>
            {% if not logged_in: %}
            <li class="nav-item">
                <a class="nav-link text-white px-0 pt-0" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
            {% if logged_in: %}
            <li class="nav-item">
                <a class="nav-link text-white px-0 pt-0" href="{{ url_for('edit_user') }}">Edit User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white px-0 pt-0" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="{{ url_for('about') }}">About</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="/contact">
                    Contact</a>
            </li>
        </ul>
    </div>
    <!-- end of navbar -->

    <ul class="list-inline nml-2">
        <li class="list-inline-item">
            <a href="#!" target="_blank" class="text-white text-red-onHover p-2">
                <span class="fab fa-instagram"></span>
            </a>
        </li>
    </ul>
    <!-- end of social-links -->
</div></aside>
<!-- end of sidenav -->
    <div class="main-content">
        <!-- start of mobile-nav -->
<header class="mobile-nav pt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <a href="/">
                    <img src="/static/images/logo.png" alt="">
                </a>
            </div>
            <div class="col-6 text-right">
                <button class="nav-toggle bg-transparent border text-white">
                    <span class="fas fa-bars"></span>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="nav-toggle-overlay"></div>
<!-- end of mobile-nav -->