{% extends 'base.html' %}
{% block content %}
    <!-- START main-wrapper -->
    <section class="d-flex">
        {% include "_navigation.html" %}
        <div class="row">
            <div class="col-md-9">
                <img class="img-fluid" src="/static/images/adam-bio.jpg"
                     alt="">
                <h1 class="text-white add-letter-space my-4">Where Cultures Converge, Beauty Emerges.</h1>
                <p class="mb-3">Welcome to exploretheborderland.com, your ultimate guide to unlocking the hidden treasures of the vibrant borderland surrounding El Paso, Texas! We are dedicated to showcasing the rich cultural heritage, natural wonders, and exciting activities that make this region a must-visit destination.
                <p class="mb-3">At Explore the Borderland, we believe that every corner of this diverse region holds its own unique charm. Our website serves as a comprehensive platform where locals and visitors alike can discover the best things to do, places to explore, and experiences to cherish.</p>
                <p class="mb-3">Through our meticulously curated content, we strive to capture the essence of the borderland's breathtaking landscapes, historical landmarks, delicious cuisine, vibrant festivals, and thrilling adventures. From awe-inspiring national parks and picturesque hiking trails to captivating museums, lively music venues, and bustling markets, we aim to provide a comprehensive guide that ensures you make the most of your time in the borderland.</p>
                <p class="mb-3">Whether you're a nature enthusiast seeking breathtaking vistas, a history buff intrigued by the region's rich past, a foodie eager to savor culinary delights, or an adventure seeker craving thrilling experiences, Explore the Borderland has something for everyone. Our team of passionate local writers and explorers are committed to bringing you accurate, up-to-date information and insider tips to enhance your journey.</p>
                <p class="mb-3">Join us in unraveling the wonders of the borderland around El Paso, Texas. Let Explore the Borderland be your trusted companion as you embark on unforgettable adventures, create lifelong memories, and immerse yourself in the vibrant tapestry of this captivating region. Start exploring today, and let the borderland's enchantment unfold before your eyes!</p></p>
            </div>
        </div>
    </section>
{% endblock %}