<!DOCTYPE html>
<html>

{% include "_head.html" %}

<body>
    <!-- START preloader-wrapper -->
    <div class="preloader-wrapper">
        <div class="preloader-inner">
            <div class="spinner-border text-red"></div>
        </div>
    </div>
    <!-- END preloader-wrapper -->
    
    <!-- START main-wrapper -->
    <section class="d-flex">
  
        {% include "_navigation.html" %}

        <div class="container py-4 my-5">
            <div class="row">
                <div class="col-lg-5 col-md-8">
                    <form class="search-form" action="#">
                        <div class="input-group">
                            <input type="search" class="form-control bg-transparent shadow-none rounded-0" placeholder="Search here">
                            <div class="input-group-append">
                                <button class="btn" type="submit">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="contact-form bg-dark">
                        {% if message_sent %}
                        <h1
                                class="text-white add-letter-space mb-5">Successfully sent your message</h1>
                        {% else %}
                        <h1 class="text-white add-letter-space mb-5">Contact Me
                        </h1>
                        {% endif %}
                        <form method="POST"
                              action="{{ url_for('contact') }}"
                              class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-5">
                                        <label for="firstName"
                                               class="text-black-300">Name:</label>
                                        <input type="text" id="firstName"
                                               name="name"
                                               class="form-control bg-transparent rounded-0 border-bottom shadow-none pb-15 px-0" placeholder="Enter your name" required>
                                        <p class="invalid-feedback">Your first-name is required!</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-5">
                                        <label for="phone"
                                               class="text-black-300">Phone:
                                        </label>
                                        <input type="tel" id="phone"
                                               name="phone"
                                               class="form-control bg-transparent rounded-0 border-bottom shadow-none pb-15 px-0" placeholder="Enter your phone number" required>
                                        <p class="invalid-feedback">Your
                                            phone number is required!</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-5">
                                        <label for="email"
                                               class="text-black-300">E-Mail:</label>
                                        <input type="email" id="email"
                                               name="email"
                                               class="form-control bg-transparent rounded-0 border-bottom shadow-none pb-15 px-0" placeholder="user@domain.com" required>
                                        <p class="invalid-feedback">Your email is required!</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-5">
                                        <label for="message"
                                               class="text-black-300">Your message:</label>
                                        <textarea id="message" name="message"
                                                  class="form-control bg-transparent rounded-0 border-bottom shadow-none pb-15 px-0" placeholder="I would like to talk about..." required></textarea>
                                        <p class="invalid-feedback">Message is required!</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-primary">Send Now <img src="images/arrow-right.png" alt=""></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- start of footer -->
<footer class="bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6 mb-5">
                <h5 class="font-primary text-white mb-4">Inspirations</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Privacy State</a></li>
                    <li><a href="#!">Privacy</a></li>
                    <li><a href="#!">State</a></li>
                    <li><a href="#!">Privacy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <h5 class="font-primary text-white mb-4">Templates</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Privacy State</a></li>
                    <li><a href="#!">Privacy</a></li>
                    <li><a href="#!">State</a></li>
                    <li><a href="#!">Privacy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <h5 class="font-primary text-white mb-4">Resource</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Privacy State</a></li>
                    <li><a href="#!">Privacy</a></li>
                    <li><a href="#!">State</a></li>
                    <li><a href="#!">Privacy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <h5 class="font-primary text-white mb-4">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Privacy State</a></li>
                    <li><a href="#!">Privacy</a></li>
                    <li><a href="#!">State</a></li>
                    <li><a href="#!">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->
    </div>
    </section>
    <!-- END main-wrapper -->

    <!-- All JS Files -->
    <script src="/static/plugins/jQuery/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap/bootstrap.min.js"></script>

    <!-- Main Script -->
    <script src="/static/js/script.js"></script>
</body>
</html>
