{% extends 'base.html' %}
{% block content %}
    <!-- START main-wrapper -->
    <section class="d-flex">
        {% include "_navigation.html" %}
        <div class="container py-4 my-5">
            <div class="row">
                <div class="col-lg-5 col-md-8">
                    <form class="search-form" action="#">
                        <div class="input-group">
                            <input type="search" class="form-control bg-transparent shadow-none rounded-0" placeholder="Search here">
                            <div class="input-group-append">
                                <button class="btn" type="submit">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="contact-form bg-dark">
                        {% if message_sent %}
                        <h1
                                class="text-white add-letter-space mb-5">Successfully sent your message</h1>
                        {% else %}
                        <h1 class="text-white add-letter-space mb-5">Contact Me
                        </h1>
                        {% endif %}
                        <form method="POST"
                              action="{{ url_for('contact') }}"
                              class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="firstName">Full Name:</label>
                                        <input type="text" id="firstName"
                                               name="name"
                                               class="form-control" placeholder="FirstName LastName" required>
                                        <p class="invalid-feedback">Your name is required!</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="phone">Phone:
                                        </label>
                                        <input type="tel" id="phone"
                                               name="phone"
                                               class="form-control" placeholder="555-555-1234" required>
                                        <p class="invalid-feedback">Your
                                            phone number is required!</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <label for="email">E-Mail Address:</label>
                                        <input type="email" id="email"
                                               name="email"
                                               class="form-control" placeholder="user@domain.com" required>
                                        <p class="invalid-feedback">Your email is required!</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <label for="message">Your message:</label>
                                        <textarea id="message" name="message"
                                                  class="form-control" placeholder="I found your article interesting..." required></textarea>
                                        <p class="invalid-feedback">Message is required!</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-primary">Send Now <img src="{{ url_for('static', filename='images/arrow-right.png') }}" alt=""></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
        