{% extends 'base.html' %}
{% block content %}
    <section class="d-flex">
        {% include "_navigation.html" %}
        <div class="container pt-4 mt-5">
            <div class="row justify-content-between">
                <div class="col-lg-7">
                    {% if user.id == 1 %}
                        <a href="{{ url_for('add_blog_post') }}" class="btn btn-primary">New Post 🆕</a>
                    {% endif %}
                    <!-- begin of post-item -->
                    {% for blog_post in blog_posts %}
                    <div class="card post-item bg-transparent border-0 mb-5">
                        <a href="{{ url_for('get_post', post_id=blog_post['id']) }}">
                            <img class="card-img-top rounded-0" src="/static/images/post/{{blog_post.image}}" alt="{{blog_post.image_alt_text}}">
                        </a>
                        <div class="card-body px-0">
                            <h2 class="card-title">
                                <a class="text-white opacity-75-onHover" href="{{ url_for('get_post', post_id=blog_post['id']) }}">{{ blog_post.title }}</a>
                            </h2>
                            <ul class="post-meta mt-3">
                                <li class="d-inline-block mr-3">
                                    <span class="fas fa-clock text-primary"></span>
                                    <span class="ml-1" href="#">{{ blog_post.publish_date }}</span>
                                </li>
                                <li class="d-inline-block mr-3">
                                    <span class="fas fa-list-alt text-primary"></span>
                                    <a class="ml-1" href="#">Photography</a>
                                </li>
                                <li class="d-inline-block">
                                    <span class="fa fa-user text-primary"></span>
                                    <a class="ml-1" href="#">{{blog_post.author.full_name}}</a>
                                </li>
                            </ul>
                            <div class="blog-body my-4">{{ blog_post.body|safe }}</div>
                            <a href="{{ url_for('get_post', post_id=blog_post['id']) }}" class="btn btn-primary">Read More <img src="/static/images/arrow-right.png" alt="Right-pointing arrow"></a>
                            {% if user.id == 1 %}
                                <a href="{{ url_for('edit_post', post_id=blog_post['id']) }}" class="btn btn-primary">Edit Post <img src="/static/images/arrow-right.png" alt="Right-pointing arrow"></a>
                                <a href="{{ url_for('delete_post', post_id=blog_post['id']) }}" class="btn btn-primary">Delete ✘</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <!-- end of post-item -->
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="widget text-center">
                        <img class="rounded-circle about-image" src="/static/images/post/{{blog_post.image}}" alt="">
                        <h2 class="widget-title text-white d-inline-block mt-4"><a class="text-white" href="{{url_for('about')}}">About</a></h2>
                        <p class="mt-4">Your gateway to captivating wonders. Discover hidden treasures, vibrant culture, and exhilarating adventures in this extraordinary region. Immerse yourself in breathtaking landscapes, uncover historical landmarks, indulge in flavorful cuisine, and be part of lively festivals.</p>
                        <ul class="list-inline mt-3">
                            <li class="list-inline-item">
                                <a href="#!" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-instagram"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-linkedin-in"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- end of author-widget -->

<!--                    <div class="widget bg-dark p-4 text-center">-->
<!--                        <h2 class="widget-title text-white d-inline-block mt-4">Subscribe Blog</h2>-->
<!--                        <p class="mt-4">Lorem ipsum dolor sit coectetur elit. Tincidu nfywjt leo mi, urna. Arcu ve isus, condimentum ut vulpate cursus por.</p>-->
<!--                        <form action="#">-->
<!--                            <div class="form-group">-->
<!--                                <input type="email" class="form-control bg-transparent rounded-0 my-4" placeholder="Your Email Address">-->
<!--                                <button class="btn btn-primary">Subscribe Now <img src="/static/images/arrow-right.png" alt=""></button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
                    <!-- end of subscription-widget -->

                    <div class="widget">
                        <div class="mb-5 text-center">
                            <h2 class="widget-title text-white d-inline-block">Featured Posts</h2>
                        </div>
                        <div class="card post-item bg-transparent border-0 mb-5">
                            <a href="post-details.html">
                                <img class="card-img-top rounded-0" src="/static/images/post/post-sm/01.png" alt="">
                            </a>
                            <div class="card-body px-0">
                                <h2 class="card-title">
                                    <a class="text-white opacity-75-onHover" href="post-details.html">Excepteur ado Do minimal duis laborum Fugiat ea</a>
                                </h2>
                                <ul class="post-meta mt-3 mb-4">
                                    <li class="d-inline-block mr-3">
                                        <span class="fas fa-clock text-primary"></span>
                                        <a class="ml-1" href="#">24 April, 2016</a>
                                    </li>
                                    <li class="d-inline-block">
                                        <span class="fas fa-list-alt text-primary"></span>
                                        <a class="ml-1" href="#">Photography</a>
                                    </li>
                                </ul>
                                <a href="post-details.html" class="btn btn-primary">Read More <img src="/static/images/arrow-right.png" alt=""></a>
                            </div>
                        </div>
                        <!-- end of widget-post-item -->
                        <div class="card post-item bg-transparent border-0 mb-5">
                            <a href="post-details.html">
                                <img class="card-img-top rounded-0" src="/static/images/post/post-sm/02.png" alt="">
                            </a>
                            <div class="card-body px-0">
                                <h2 class="card-title">
                                    <a class="text-white opacity-75-onHover" href="post-details.html">Excepteur ado Do minimal duis laborum Fugiat ea</a>
                                </h2>
                                <ul class="post-meta mt-3 mb-4">
                                    <li class="d-inline-block mr-3">
                                        <span class="fas fa-clock text-primary"></span>
                                        <a class="ml-1" href="#">24 April, 2016</a>
                                    </li>
                                    <li class="d-inline-block">
                                        <span class="fas fa-list-alt text-primary"></span>
                                        <a class="ml-1" href="#">Photography</a>
                                    </li>
                                </ul>
                                <a href="post-details.html" class="btn btn-primary">Read More <img src="/static/images/arrow-right.png" alt=""></a>
                            </div>
                        </div>
                        <!-- end of widget-post-item -->
                    </div>
                    <!-- end of post-items widget -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}