{% extends 'base.html' %}
{% block content %}
    <section class="d-flex">
        {% include "_navigation.html" %}
        <div class="container py-4 my-5">
            <div class="row">
                <div class="col-lg-5 col-md-8">
                    <form class="search-form" action="#">
                        <div class="input-group">
                            <input type="search" class="form-control bg-transparent shadow-none rounded-0" placeholder="Search here">
                            <div class="input-group-append">
                                <button class="btn" type="submit">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-lg-10">
                    <img class="img-fluid" src="/static/images/post/{{blog_post.image}}"
                         alt="{{blog_post.imageAltText}}">
                    <h1 class="text-white add-letter-space mt-4">{{
                        blog_post.title }}</h1>
                    <ul class="post-meta mt-3 mb-4">
                        <li class="d-inline-block mr-3">
                            <span class="fas fa-clock text-primary"></span>
                            <span class="ml-1" href="#">{{ blog_post.publish_date }}</span>
                        </li>
                        <li class="d-inline-block">
                            <span class="fas fa-list-alt text-primary"></span>
                            <a class="ml-1" href="#">Photography</a>
                        </li>
                    </ul>

                    <div>{{ blog_post.body|safe }}</div>

                    <div class="blockquote bg-dark my-5">
                        <p class="blockquote-text pl-2">{{ blog_post
                            .subtitle }}</p>
                    </div>
                    <a href="{{ url_for('edit_post', post_id=blog_post['id']) }}" class="btn btn-primary">Edit Post <img src="/static/images/arrow-right.png" alt="Right-pointing arrow"></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}