<!DOCTYPE html>
<html>
{% include "_head.html" %}
<body>
    <!-- START preloader-wrapper -->
    <div class="preloader-wrapper">
        <div class="preloader-inner">
            <div class="spinner-border text-red"></div>
        </div>
    </div>
    <!-- END preloader-wrapper -->
    
    <!-- START main-wrapper -->
    <section class="d-flex">
  
        {% include "_navigation.html" %}

            <div class="container py-4 my-5">
                <div class="row">
                    <div class="col-lg-5 col-md-8">
                        <form class="search-form" action="#">
                            <div class="input-group">
                                <input type="search" class="form-control bg-transparent shadow-none rounded-0" placeholder="Search here">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <span class="fas fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="row justify-content-between">
                    <div class="col-lg-10">
                        <img class="img-fluid" src="/static/images/post/{{blog_post.image}}"
                             alt="{{blog_post.imageAltText}}">
                        <h1 class="text-white add-letter-space mt-4">{{
                            blog_post.title }}</h1>
                        <ul class="post-meta mt-3 mb-4">
                            <li class="d-inline-block mr-3">
                                <span class="fas fa-clock text-primary"></span>
                                <a class="ml-1" href="#">24 April, 2016</a>
                            </li>
                            <li class="d-inline-block">
                                <span class="fas fa-list-alt text-primary"></span>
                                <a class="ml-1" href="#">Photography</a>
                            </li>
                        </ul>

                        <p>{{ blog_post.body }}</p>

                        <div class="blockquote bg-dark my-5">
                            <p class="blockquote-text pl-2">{{ blog_post
                                .subtitle }}</p>
                            <span class="blockquote-footer text-white h4 mt-3">James Hopkins</span>
                        </div>

                        <div class="widget">
                            <h1 class="widget-title text-white d-inline-block mb-4">Text styles</h1>
                            <h1 class="h1 mb-3">H1 Heading (Barlow Condensed)</h1>
                            <h2 class="h2 mb-3">H2 Heading (Barlow Condensed)</h2>
                            <h3 class="h3 mb-3">H3 Heading (Barlow Condensed)</h3>
                            <h4 class="h4 mb-3">H4 Heading (Montserrat)</h4>
                            <h5 class="h5 mb-3">H5 Heading (Montserrat)</h5>
                            <h6 class="h6 mb-3">H6 Heading (Montserrat)</h6>
                            <!-- end headings -->
                        </div>

                        <div class="widget">
                            <h1 class="widget-title text-white d-inline-block mb-4">Paragraph</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Metus cum cursus nunc nec velit volutpat consequat. Vitae dui, massa viverra nam dui laoreet ipsum. Sagittis sed feugiat blandit adipiscing mauris. Facilisis dictum in tellus ac turpis. Pretium, facilisis turpis duis pulvinar blandit est. Dolor accumsan pellentesque ullamcorper volutpat urna arcu. Nisi nulla et mauris et, ultricies odio semper gravida. Justo, lorem leo ullamcorper leo ornare phasellus. Dolor tristique sem quam eget tempor aliquet sem amet, eget. Vitae id mattis consectetur </p>
                            <!-- end paragraph -->
                        </div>

                        <div class="widget">
                            <h1 class="widget-title text-white d-inline-block mb-4">Typefaces</h1>
                            <h3 class="font-primary mb-3">Barlow Condensed</h3>
                            <h3 class="font-secondary">Montserrat</h3>
                            <!-- end typefaces -->
                        </div>

                        <div class="widget">
                            <h1 class="widget-title text-white d-inline-block mb-4">Table Style</h1>
                            <table class="table table-bordered text-center text-white table-transparent">
                                <thead class="bg-dark">
                                    <tr>
                                        <th class="h3" scope="col">Table</th>
                                        <th class="h3" scope="col">Column</th>
                                        <th class="h3" scope="col">Column</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Row 1.1</td>
                                        <td>Row 2.1</td>
                                        <td>Row 3.1</td>
                                    </tr>
                                    <tr>
                                        <td>Row 1.2</td>
                                        <td>Row 2.2</td>
                                        <td>Row 3.2</td>
                                    </tr>
                                    <tr>
                                        <td>Row 1.3</td>
                                        <td>Row 2.3</td>
                                        <td>Row 3.3</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- end table-style -->
                        </div>

                        <div class="widget">
                            <h1 class="widget-title text-white d-inline-block mb-4">Button</h1>
                            <div class="d-block">
                                <a class="btn btn-primary" href="#!">Button <img src="/static/images/arrow-right.png" alt=""></a>
                            </div>
                            <!-- end buttons -->
                        </div>

                        <div class="widget">
                            <h1 class="widget-title text-white d-inline-block">Colors</h1>
                            <div class="row text-center">
                                <div class="col-sm-3 mt-4">
                                    <div class="rounded">
                                        <div class="bg-black py-5"></div>
                                        <p class="bg-dark py-2">000000</p>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt-4">
                                    <div class="rounded">
                                        <div class="bg-primary py-5"></div>
                                        <p class="bg-dark py-2">EDEDED</p>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt-4">
                                    <div class="rounded">
                                        <div class="bg-dark py-5"></div>
                                        <p class="bg-dark py-2">1D1C21</p>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt-4">
                                    <div class="rounded">
                                        <div class="bg-dark-gray py-5"></div>
                                        <p class="bg-dark py-2">CBCBCB</p>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt-4">
                                    <div class="rounded">
                                        <div class="bg-white py-5"></div>
                                        <p class="bg-dark py-2">FFFFFF</p>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt-4">
                                    <div class="rounded">
                                        <div class="bg-gray py-5"></div>
                                        <p class="bg-dark py-2">B0B0B0</p>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt-4">
                                    <div class="rounded">
                                        <div class="bg-black-700-darken py-5"></div>
                                        <p class="bg-dark py-2">737373</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end colors -->
                        </div>
                        
                    </div>
                </div>
            </div>
            {% include "_footer.html" %}
